body {
}
.n1 {
    display: flex;
    gap: 10px;
}
.n1 div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 30px;
    height: 20px;
    color: white;
    border-radius: 8px;
    font-size: 0.8rem;
    position: relative;
}

i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 8px;
}