body {
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: rgb(65, 6, 6);
    text-align: center;
    color: rgb(124, 123, 123);
    border-radius: 100px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn-primary {
    background-color: #430909;
    border-color: #000000;
    color: rgb(124, 123, 123);
}
.btn-dark {
    background-color: #430909;
    border-color: #000000;
    color: rgb(124, 123, 123);
}
.btn-outline-danger {
    color: #430909;
    border-color: #430909;
}
.card img {
    height: 200px;
}
.card-body {
    padding: 5px;
    background-color: #430909;
    color: rgb(251, 251, 251);
    height: 140px;
}